.main-footer h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.main-footer p {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 1.4px;
}
@media (max-width: 991px) {
  .connect div,
  .account div,
  .get-help div,
  .company div {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.3s;
    height: 0;
  }
  .connect,
  .account,
  .get-help,
  .company {
    /* background-color: green; */
    margin: 0;
    padding: 10px 0;
  }
}
